
.vs/api.conevento/v16/.suo
.vs/api.conevento/DesignTimeBuild/.dtbcache.v2
.vs/api.conevento/config/applicationhost.config
.dockerignore
.vs/api.conevento/project-colors.json
.vs/api.conevento/v17/.futdcache.v1
.vs/api.conevento/v17/.suo
